<!DOCTYPE>
<html>
<head>
  <title>ClanMarkr</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1><a href="/">ClanMarkr</a></h1>

<nav>
  <ul>
    <li><a href="/bookmarks">All Bookmarks</a></li>
    <li><a href="/bookmarks/new">Create Bookmark</a></li>
<!--     <li><a href="/bookmarks/search">Search</a></li> -->
    <li>
      <form action="/bookmarks/search" method="get">
        <label for="search-by">Search by:</label>
        <select id="search-by" name="attribute">
          <option value="genre">genre</option>
          <option value="title">title</option>
          <option value="all">all</option>
        </select>
        <input type="text" name="value">
        <button>Search</button>
      </form>
      <form action="/bookmarks/sort" method="get">
        <label for="order-by">Sort by:</label>
        <select id="order-by" name="order">
          <option value="title ASC">A-Z</option>
          <option value="title DESC">Z-A</option>
          <option value="modified DESC">newest first</option>
          <option value="modified ASC">oldest first</option>
          <option value="genre ASC, title ASC">genre</option>
        </select>
        <button>Submit</button>
      </form>
    </li>
  </ul>
</nav>

<%= yield %>

</body>
</html>