<!DOCTYPE>
<html>
<head>
  <title>ClanMarkr</title>
</head>
<body>

<h1><a href="/">ClanMarkr</a></h1>

<nav>
  <ul>
    <li><a href="/bookmarks">All Bookmarks</a></li>
    <li><a href="/bookmarks/new">Create Bookmark</a></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>