<!DOCTYPE>
<html>
<head>
  <title>ClanMarkr</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header class="centered group">

  <div class="header">

    <h1 class="logo">ClanMarkr</h1>
    <img src="/folder.ico" alt="bookmark image">

    <nav class="navigation">
      <ul>
        <li><a href="/bookmarks">All Bookmarks</a></li>
        <li><a href="/bookmarks/new">Create Bookmark +</a></li>
      </ul>
    </nav>

  </div>

  <form class="options group" action="/bookmarks/search" method="get">

    <label for="search-by">Search by:</label>
    <select id="search-by" name="attribute">
      <option value="all">All</option>
      <option value="genre">Genre</option>
      <option value="title">Title</option>
    </select>
    <input type="text" name="value">

    <label for="order-by">Sort by:</label>
    <select id="order-by" name="order">
      <option value="UPPER(title) ASC">A-Z</option>
      <option value="UPPER(title) DESC">Z-A</option>
      <option value="modified DESC">Newest First</option>
      <option value="modified ASC">Oldest First</option>
      <option value="genre ASC, UPPER(title) ASC">Genre</option>
    </select>
    
    <button>Submit</button>

  </form>
</header>

<section class="centered">
  <%= yield %>
</section>

</body>
</html>