<h2>Create Bookmark</h2>

  <fieldset class="bookmark group label">
    <div class="bookmark-shape"><h3 style="color:#ffffff"></h3></div>
      <h3 class="bookmark-title label">Title</h3>
      <p class="bookmark-genre label">Genre</p>
      <p class="bookmark-url label">url</p>
  </fieldset>

  <form action="/bookmarks" method="post">
    <%= erb :'bookmarks/_form' %>
    <button class="btn btn-special">Create</button>
  </form>